* {
    box-sizing: border-box;
}

body {
    background: #F8F8FF;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    padding: 5px;
    height: 10px;
    margin: 95px;
    justify-content: center;
    flex-wrap: wrap;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#questions {
    display: flex;
    padding: 5px;
    height: 10px;
    margin: 95px;
    justify-content: center;
}

#list-item li {
    display: flex;
    justify-content: center;    
    width: 90%;
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #338DFF;
    border-style: solid;
    border-color: #F8F8FF;
    color: #fff;
    padding: 20px;
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
}

#end-game {
    display: flex;
    padding: 5px;
    height: 10px;
    margin: 95px;
    justify-content: center;
}

/* #score{
    display: flex;
    padding: 5px;
    height: 10px;
    margin: 95px;
    justify-content: center;
} */

#initials{
    display: flex;
    
}



nav {
    display: flex;
    justify-content: space-between;

}

.time {
    display: flex;
    justify-content: space-between;
}

#high-score {
    background: transparent;
    color: #338DFF;
    border: none;
}


 


