* {
    box-sizing: border-box;
  }

  body {
    background: #F8F8FF;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
    text-align: center;
  }

  button {
    background-color: #338DFF;
    border-style: solid;
    border-color: #F8F8FF;
    color: #fff;
    padding: 15px 32px;
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;;
  }


